{% extends 'base.html.twig' %}

{% block title %}Role{% endblock %}

{% block body %}
    <h1>Role</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idrole</th>
                <td>{{ role.idrole }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ role.label }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('role_index') }}">back to list</a>

    <a href="{{ path('role_edit', {'idrole': role.idrole}) }}">edit</a>

    {{ include('role/_delete_form.html.twig') }}
{% endblock %}
